.Popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    h1{
        color: #171717;
        font-size: 50px;
        font-weight: 600;
    }
    hr{
        width: 200px;
        height: 6px;
        border-radius: 10px;
        background: #252525;
    }
    .popular-item{
        margin-top: 50px;
        display: flex;
        padding: 0px 170px;
        gap: 30px;
    }
}
